DATA_PATH=your_data_path_here
FACE_LANDMARK_MODEL_PATH=your_face_landmark_model_path_here
I2SB_CELEB_MODEL_PATH=your_i2sb_celeb_model_path_here
I2SB_CELEBHQ_MODEL_PATH=your_i2sb_celeb_hq_model_path_here
CLASSIFIER_CELEB_MODEL_PATH=your_classifier_celeb_model_path_here
CLASSIFIER_CELEBHQ_MODEL_PATH=your_classifier_celeb_hq_model_path_here
TRACKING_URI=your_mlflow_tracking_uri_here